.animar{
  opacity: 0; 
  -webkit-transform:translate3d(-100px,0,0);
  -moz-transform:translate3d(-100px,0,0); 
  -mos-transform:translate3d(-100px,0,0);
  -o-transform:translate3d(-100px,0,0);
  transform:translate3d(-100px,0,0); 
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -mos-transition:.5s;
  -o-transition:.5s;
  transition:.5s;
}
/**** Fim *****/

/**** Inicia a animaÃ§Ã£o ***/
.animar-start{ 
  opacity: 1;
  -webkit-transform:translate3d(0,0,0);
  -moz-transform:translate3d(0,0,0);
  -mos-transform:translate3d(0,0,0);
  -o-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}

/*** Animate CSS ***/
/**** FadeIn no carregamento da página *****/
.fadeIn {
-webkit-animation: fadeIn 3s ease-in-out;
-moz-animation: fadeIn 3s ease-in-out;
-o-animation: fadeIn 3s ease-in-out;
animation: fadeIn 3s ease-in-out;
}

@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}/* Fim */

.animate {
  animation-duration: 5s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

